<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head><title>Add Player</title></head>
<body>
<h1>Add Player</h1>
<form method="get" action="" th:action="@{/showPlayer}" th:object="${player}">
<br/>Name: <input type="text" name="name" th:field="*{name}" />
<br/>Number: <input type="text" name="role" th:field="*{role}" />
<br/>Address: <input type="text" name="team" th:field="*{team}" />
<br/> <input type="submit" value="Add" />
</form>
</body>
</html>
