<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head><title>Product List</title></head>
    <body>
        <h1>Product List</h1>

                <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr th:each='p: ${products}'>
                <td th:text='${p.name}'></td>
                <td th:text='${p.description}'></td>
            </tr>
        </table>
        
        <A href="/">Add Product</a>


    </body>
</html>

