<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head><title>Delete Player</title></head>
    <body>
        <h1>Delete Player</h1>
        
        Delete Player <span th:text="${player.playerName}"></span>
        <br/>
        Are you sure you want to delete this player?
        
        <form method="get" action="" th:action="@{/delete}" th:object="${player}">
          <input type="hidden" name="name" th:field="*{id}" />
          <br/> <input type="submit" value="Delete" />
        </form>
                <a th:href="@{/}">Cancel</a>

</body>
</html>

