<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head><title>Show Team</title></head>
    <body>
        <h1>Show Team</h1>

                <table>
            <tr><th>Name</th> <th> Edit</th><th> Del</th></tr>
            <tr th:each='c: ${players}'>
                <td th:text='${c.playerName}'></td>
                <td ><a th:href="@{'/editPlayer/' + ${c.id}}">edit</a></td>
                <td ><a th:href="@{'/deletePlayer/' + ${c.id}}">delete</a></td>
            </tr>
        </table>
        <br/>

        <a th:href="@{/newPlayer/{teamID}(teamID=${teamID})}">Add New Player</a>
        <a th:href="@{/}">Home</a>
    </body>
</html>


